*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: greenyellow;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#clock{
    color: greenyellow(95,  95,  180);
    font-size: 80px;
}